*{padding: 0; margin: 0;  box-sizing: border-box;}

li{list-style-type: none; display: inline-block;}


#page{
    width: 80vw; margin: 1rem auto;
}
.logo{float: left;}
.menu1{float: right;}
nav{margin-top: 1rem;}
.menu2{clear: both;
    display: flex; align-items: center; justify-content: center; }
.menu2 > li{ margin: 2rem 1rem;}

a{ text-decoration: none; color: black;}